%h1 No Actually, Read Nevada

.purchase
  purchase a physical copy

  .links
    = link_to 'Amazon.com',
      'https://www.amazon.com/Audible-Nevada-A-Novel/dp/B09GPZSBT2/ref=sr_1_1?crid=2NXC2L7S9GUIA&keywords=nevada+imogen+binnie&qid=1705788094&sprefix=nevada+imogen+binnie%2Caps%2C83&sr=8-1',
      target: '_blank'
    -# = link_to 'Topside Press', 'http://shop.topsidepress.com/product/nevada/',
    -#   target: '_blank'

.download
  = "...or download a digital one"

  .links
    = link_to 'Nevada.pdf', 'nevada.pdf', download: 'nevada'
    = link_to 'Nevada.epub', 'nevada.epub', download: 'nevada.epub'
    = link_to 'Nevada.mobi', 'nevada-mobi.zip', download: 'nevada-mobi.zip'
    = link_to 'Nevada.mp3 (Audiobook)', 'nevada-mp3.zip', download: '/nas/nevada-mp3.zip'
    = link_to 'Nevada.m4b (Audiobook)', 'nevada-m4b.zip', download: '/nas/nevada-m4b.zip'

.disclaimer
  This site is unaffiliated with Topside Press, and is intended to simplify the
  process of sharing this book with the James H's in your life. Please buy a
  copy of this book, or at the very least send a nice tweet to the wonderful
  author,
  = link_to 'Imogen Binnie', 'https://twitter.com/imogenbinnie',
    target: '_blank'

.credits
  This is a modified version of the original haveyoureadnevada.club with new links.
  %br
  The previous version had a non-working Amazon link as well as a link to Topsite Press,
  Which no longer exists on the internet.
  %br
  Original site created by some old friends. Wherever you are, I wish you the best.
  = link_to 'source', 'https://github.com/EpicH0liday/have-you-read-nevada',
    target: '_blank'
